body {
    font-family: 'Montserrat', sans-serif;
}

#info_container {
    width: 980px;
    height: 758px;
    background-image: url("../images/testBackground.png");
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 auto;
}

#nuc_wea_gfx {
    float: left;
    position: relative;
    width: 160px;
    height: 160px;
    top: 22.6%;
    left: 5%;
    clear: both;
}

#nuc_wea_txt {
    float: left;
    position: relative;
    width: 110px;
    height: 55px;
    top: 21.1%;
    left: 7.7%;
    clear: both;
}

#counterterrorism_gfx {
    float: left;
    position: relative;
    width: 150px;
    height: 150px;
    top: -13%;
    left: 24%;
    clear: both;
}

#counterterrorism_txt {
    float: left;
    position: relative;
    width: 238px;
    height: 80px;
    top: 19.2%;
    left: 19.5%;
    clear: both;
}

#arms_control_gfx {
    float: left;
    position: relative;
    width: 160px;
    height: 160px;
    top: -27.8%;
    left: 42.5%;
    clear: both;
}

#arms_control_txt {
    float: left;
    position: relative;
    width: 206px;
    height: 76px;
    top: -60.5%;
    left: 40.3%;
    clear: both;
}


/**********************Overlay*****************/
#overlay_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
    overflow-y: scroll;
    display: none;
}

#overlay_close {
    position: fixed;
    width: 14px;
    padding: 5px;
    background-color: grey;
    border: 2px solid rgb(244, 177, 53);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    text-align: center;
    right: 25px;
    left: 0;
    margin: 13px 5px auto auto;
}

#overlay_close:hover {
    cursor: pointer;
}



/*******************Testing************************/

#nuc_wea_view {
    width:980px;
    display: block;
    margin: 0 auto;
    display: none;
}

#counterterrorism_view {
    width:980px;
    display: block;
    margin: 0 auto;
    display: none;
}

#arms_control_view {
    width:980px;
    display: block;
    margin: 0 auto;
    display: none;
}

#test {
    width: 600px;
    display: block;
    margin: 0 auto;
}

/******Media Queries**********/

@media screen and (max-width:979px) {
    body {
        background-color: red;
    }
    #info_container {
        width: 100%;
        background-image: url("../images/bkgrd_map.png");
        background-size: contain;
    }
}